.presentacion {
  background-color: #f8f9fa; /* gris muy claro */
}

.card {
  border: none;
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card-title {
  font-weight: 600;
}
